.reset-padding {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.menu {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 40px;
  width: 505px;
  background: #4c4e5a;
  background: linear-gradient(#4c4e5a, #2c2d33);
  border-radius: 5px;
}
.menu ul,
.menu li,
.menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.menu li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  height: 40px;
}
.menu li :hover {
  color: #8fde62;
}
.menu li :first-child a {
  border-left: none;
}
.menu li :last-child a {
  border-right: none;
}
.menu li a {
  display: block;
  padding: 0 14px;
  margin: 6px 0;
  line-height: 28px;
  text-decoration: none;
  border-left: 1px solid #393942;
  border-right: 1px solid #4f5058;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #f3f3f3;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.menu ul {
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
  background: #1f2024;
  border-radius: 0 0 5px 5px;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -webkit-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
}
.menu ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
  -moz-transition: height .25s ease .1s;
  -o-transition: height .25s ease .1s;
  -webkit-transition: height .25s ease .1s;
  transition: height .25s ease .1s;
}
.menu ul li a {
  width: 100px;
  padding: 4px 0 4px 40px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #353539;
}
.menu ul li:last-child a {
  border: none;
}
.menu li:hover > ul {
  opacity: 1;
}
.menu li:hover > ul li {
  height: 36px;
  overflow: visible;
  padding: 0;
}
.menu a.documents {
  background: url(http://designmodo.com/demo/css3dropdownmenu/img/docs.png) no-repeat 6px center;
}
.menu a.messages {
  background: url(http://designmodo.com/demo/css3dropdownmenu/img/bubble.png) no-repeat 6px center;
}
.menu a.signout {
  background: url(http://designmodo.com/demo/css3dropdownmenu/img/arrow.png) no-repeat 6px center;
}
