a.hiddenanchor {
  display: none;
}
#register,
#login {
  position: absolute;
  top: 0;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189, 0.8);
  box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
  border-radius: 5px;
}
#login {
  z-index: 22;
}
#wrapper {
  width: 60%;
  right: 0px;
  min-height: 560px;
  margin: 0 auto;
  width: 500px;
  position: relative;
}
#wrapper h1 {
  font-size: 48px;
  color: #056a75;
  padding: 2px 0 10px 0;
  font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  background: repeating-linear-gradient(-45deg, #12535d, #12535d 20px, #406f76 20px, #406f76 40px, #12535d 40px);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
#wrapper h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #93b8bd 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}
::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}
input {
  outline: none;
}
#wrapper input:not([type="checkbox"]) {
  width: 92%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid #b2b2b2;
  box-sizing: content-box;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.7);
  transition: all .2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus {
  border: 1px solid rgba(91, 90, 90, 0.7);
  background: rgba(238, 236, 240, 0.2);
  box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.9) inset;
}
#wrapper p.button input {
  width: 30%;
  cursor: pointer;
  background: #0f9db3;
  padding: 8px 5px;
  font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  font-size: 24px;
  border: 1px solid #1c6c7a;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px #fefefe, 0px 5px 3px 3px #d2d2d2;
  transition: all .2s linear;
}
#wrapper p.button input:hover {
  background: #4ab3c6;
}
#wrapper p.button input:active,
#wrapper p.button input:focus {
  background: #28899a;
  position: relative;
  top: 1px;
  border: 1px solid #0c4c57;
  box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.2);
}
p.login.button,
p.signin.button {
  text-align: right;
}
.fa {
  color: #6a9fab;
  position: relative;
  width: 30px;
  top: 35px;
}
#login .fa-user {
  left: -135px;
}
#login .fa-key {
  left: -87px;
}
#register .fa-user {
  left: -85px;
}
#register .fa-envelope {
  left: -60px;
}
#register i#password {
  left: -90px;
}
#register i#confirm-password {
  left: -175px;
}
.keeplogin {
  margin-top: -5px;
}
.keeplogin input,
.keeplogin label {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
}
.keeplogin input#loginkeeping {
  margin-right: 5px;
}
.keeplogin label {
  width: 80%;
}
p.change_link {
  position: absolute;
  color: #7f7c7c;
  margin-top: 0px;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
  border-radius: 0 0 5px 5px;
  background: #e1eaeb;
  background: repeating-linear-gradient(-45deg, #f7f7f7, #f7f7f7 15px, #e1eaeb 15px, #e1eaeb 30px, #f7f7f7 30px);
}
#wrapper p.change_link a {
  display: inline-block;
  font-weight: bold;
  background: #f7f8f1;
  padding: 2px 6px;
  color: #1da2c1;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #cbd5d6;
  transition: all 0.4s linear;
}
#wrapper p.change_link a:hover {
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}
#wrapper p.change_link a:active {
  position: relative;
  top: 1px;
}
#register {
  z-index: 21;
  opacity: 0;
}
#login {
  z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login {
  z-index: 22;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
.animate {
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register {
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
